<p style="color: green"><%= notice %></p>

<h1>Tables</h1>

<div id="tables">
  <% @tables.each do |table| %>
    <%= render table %>
    <p>
      <%= link_to "Show this table", table %>
      <%= 'TODO: Register to this table' %>
    </p>
  <% end %>
</div>

<% if current_user %>
  <%= link_to "New table", new_table_path if current_user.is_admin? %>
<% end %>
